//<================================================================ FONTS ===============================================================>\\

//&display=swap - оптимізація підвантаження шрифта
//&subset=cyrillic-ext - підвантаження кириличної версії










// Змінна font-family
$ff: 'Arial';

// Змінна font-size
$fs: 16px;

// Змінна font-weight
$fw: 400;

// Змінна color
$fc: #000;

//<============================================================ CUSTOM RESET ============================================================>\\

// Максимальна ширина обмежуючого контейнера
$mw: 1920px;

// Фоновий колір для body
$bgc: #fff;

// Обнулення стилів
@import 'reset';

//<====================================================== БАГАТОРАЗОВЕ ВИКОРИСТАННЯ =====================================================>\\

header .logo-container {
    text-align: center; }
header .logo-container .logo-mapxo {
    margin-bottom: 10px; }
header .logo-container .title {
    font-size: 14px;
    line-height: 1.6; }
@media screen and (min-width: 970px) {
    header .logo-container {
        float: left;
        padding-left: 10px; }
    header .logo-container .logo-mapxo {
        float: left;
        margin-right: 5px; }
    header .logo-container .title {
        float: left;
        line-height: 38px;
        margin-bottom: 0; } }
@media screen and (min-width: 1150px) {
    header .logo-container .title {
        font-size: 17px; } }
#adaptable-page-header-wrapper .nav-link{
    padding: 0;
}
header #above-header .container {
    /* float: right; */
    height: initial;
    max-width: 1170px;
    width: 100%;
}
header #above-header {
    float: left;
    width: 100%;
    height: initial;
    margin-bottom: 0 !important; }
header #nav-message-popover-container,
header #nav-notification-popover-container {
    line-height: 25px; }
header .headermenu {
    line-height: 27px; }

#navwrap .nav a:hover {
    color: #fff !important; }

#main-slider {
    height: 600px;
    overflow: hidden;
    margin-bottom: 0;
    text-align: center;
}
#main-slider p:last-child a>img {
    max-width: 237px;
    max-height: 45px;
}
#main-slider .flex-caption {
    left: 0;
    top: 10%;
    padding-left: 0;
    background-color: transparent;
    box-sizing: content-box;
}
#main-slider .flex-caption img {
    display: initial;
}
#main-slider .flex-direction-nav {
    display: none;
}
#main-slider .flex-caption .left-block,
#main-slider .flex-caption .right-block {
    display: inline-block;
}
#main-slider .flex-caption .left-block img {
    /*position: relative;*/
    /*bottom: 40px;*/
    margin-right: 10px;
}
#main-slider .flex-caption .right-block p:first-child {
    margin-bottom: 30px;
}
/*#main-slider .flex-caption .right-block p:last-child {*/
/*    display: none;*/
/*}*/



.block-region-front .span4{
    width: 33.333%;
    float: left;
}

.block-region-front .span12{
    margin-top: 30px !important;
}
.block_html .content h3 {
    display: block;
    padding: 3px 15px;
    font-weight: 700;
    line-height: 20px;
    color: #999;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    text-transform: uppercase;
    font-size: 1.1em;
}

.mainpage-photos img{
    box-sizing: content-box;
}

.block{
    border: none!important;
    padding: 0!important;
    box-shadow: none!important;
    background: transparent!important;
    border-radius: 0!important;
}

.nav-tabs li a,
.nav-tabs li a:hover,
.nav-tabs .active a,
.nav-tabs .active a:hover {
    color: #565656 !important; }

.course-custom {
    text-align: center;
    position: relative; }
.course-custom .no-overflow {
    padding-top: 20px; }
body .course-custom.block .course-btn {
    position: absolute;
    bottom: -64px;
    top: auto;
    left: 0;
    color: #04030F !important;
    font-weight: 600 !important;
    font-size: 16px;
    background: #F0A467;
    transition: background .1s; 
    height: 48px;
    width: 167px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: none !important;
    // font-family: 'Roboto' !important;
}
body .course-custom .course-btn:hover {
    background: #F0A467;
    transition: background .1s; }
.course-custom .course-img {
    border: 10px solid #fff;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
    width: 100%;
    transition: box-shadow .3s; }
.course-custom .course-img:hover {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
    transition: box-shadow .3s; }
.course-custom.odd .course-img {
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px; 
    border-radius: 10px;
    border: none !important;
    height: 153px;
    object-fit: cover;
}

.course-custom.even .course-img {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-radius: 10px;
    border: none !important;
    height: 153px;
    object-fit: cover;
}
   

.course-custom .content{
    margin: 0 !important;
    margin-bottom: 63px !important;
}

@media screen and (min-width: 768px) {
    .intro-text {
        padding-left: 22px !important; } }


@media screen and (max-width: 1400px) {
    #main-slider {
        height: auto; } }

@media screen and (max-width: 979px) {
    .navbar-inner .container-fluid {
        padding-top: 4px; }
    .navbar-inner .btn-navbar {
        background: #d4594f !important;
    } }

/*@media screen and (max-width: 1199px) {
  .mainpage-photos p {
    display: inline-block;
    width: 59%; }
    .mainpage-photos .content {
    	text-align: center; } }

@media screen and (max-width: 979px) {
  .mainpage-photos p {
    width: 78%; } }*/

/*@media screen and (min-width: 768px) {
  .intro-video {
    padding-right: 22px !important; } }*/

/*# sourceMappingURL=style.css.map */







/* START =============================================================================== */
/* ===================================================================================== */
/* ===================================================================================== */

/*
COLOR PALETTE:
FF974F - yellow
F77A52 - orange
A49A87 = biege
644D52 - brown
332532 - purple
*/
html {
    background: #813D3E;
}


body a, a:visited, .tabtree .tabrow0 li a, .dropdown-menu.usermen>li>a{
    /*color: #f8a159;*/
    color: #56a7d0;
}

body a:hover {
    cursor: pointer;
}

body a > i {
    opacity: 0.7;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
    /* font-family: Georgia, Roboto Slab,sans-serif!important;
    font-style: italic; */
    font-family: 'Roboto' ,sans-serif!important;
}

/* MAIN BUTTON */
body button,
body input[type="submit"],
body .button,
body .btn-login,
body .course-btn,
body .course-custom .course-btn,
body #id_submitbutton,
body #id_cancel,
body #edittingbutton .btn,
body .btn:first-child,
body .buttons a,
body .btn {
    text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
    font-weight: normal;
    outline: none;
    padding: 8px 16px!important;
    font-size: 12px;
    line-height: normal;
    text-transform: inherit;
    border: 0;
    letter-spacing: 1px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.25);
    box-shadow: 0px 1px 2px rgba(0,0,0,0.25);
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    /*text-shadow: none;*/
    background: #fabd8a;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#f79441),color-stop(1,#f9af72));
    background: -ms-linear-gradient(bottom,#f79441,#f9af72);
    background: -moz-linear-gradient(center bottom,#f79441 0%,#f9af72 100%);
    background: -o-linear-gradient(#f9af72,#f79441);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9af72', endColorstr='#f79441', GradientType=0);
    /* font-family: Georgia, Roboto Slab,sans-serif!important; */
    color: #fff!important;
    /* font-style: italic; */
    margin: 0;
    height: auto;
    font-family: 'Roboto',sans-serif!important;
}
body button:hover,
body input[type="submit"]:hover,
body .button:hover,
body .course-btn:hover,
body #edittingbutton .btn:hover,
body .buttons a:hover,
body .btn-login:hover,
body input[name="cancel"]:hover,
body #id_cancel:hover,
body #id_submitbutton:hover,
body .btn-cancel:hover {
    /*background: #f79441;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#f79441),color-stop(1,#f79441));
    background: -ms-linear-gradient(bottom,#f79441,#f79441);
    background: -moz-linear-gradient(center bottom,#f79441 0%,#f79441 100%);
    background: -o-linear-gradient(#f79441,#f79441);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f79441', endColorstr='#f79441', GradientType=0);*/
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    color: #fff!important;
    background-color: #f44336!important;
    box-shadow: none;
}




/* SECOND BUTTON */

body input[name="cancel"],
body #id_cancel,
body .button.button--brown,
body .btn-cancel {
    background: #813d3e;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#813d3e),color-stop(1,#9c696a));
    background: -ms-linear-gradient(bottom,#813d3e,#9c696a);
    background: -moz-linear-gradient(center bottom,#813d3e 0%,#9c696a 100%);
    background: -o-linear-gradient(#9c696a,#813d3e);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9c696a', endColorstr='#813d3e', GradientType=0);
}

/* BUTTON ATTENTION */
body .button.button--red {
    background: #ec6257;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#d4594f),color-stop(1,#ec6257));
    background: -ms-linear-gradient(bottom,#d4594f,#ec6257);
    background: -moz-linear-gradient(center bottom,#d4594f 0%,#ec6257 100%);
    background: -o-linear-gradient(#ec6257,#d4594f);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ec6257', endColorstr='#d4594f', GradientType=0);
}


body .button.button--green,
body .btn-login {
    background: #00823b;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#00823b),color-stop(1,#009c47));
    background: -ms-linear-gradient(bottom,#00823b,#009c47);
    background: -moz-linear-gradient(center bottom,#00823b 0%,#009c47 100%);
    background: -o-linear-gradient(#009c47,#00823b);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009c47', endColorstr='#00823b', GradientType=0);
}

body .dropdown-menu,
body .popover-region-container {
    border-radius: 10px;
    box-shadow: 0 6px 42px rgba(0,0,0,0.25);
    padding: 10px;
    background: rgba(255,255,255,0.95);
    left: -200px;
}

body .buttons a {
    display: inline-block;
    vertical-align: middle;
}

/* HEADER  ---------------------------------------------------------------------------- */

#above-header {
    background-color: #F0A467 !important;
    background-color: -webkit-gradient(linear,left bottom,left top,color-stop(0,#F0A467),color-stop(1,#F0A467)) !important;
    background-color: -ms-linear-gradient(bottom,#F0A467,#F0A467) !important;
    background-color: -moz-linear-gradient(center bottom,#F0A467 0%,#F0A467 100%) !important;
    background-color: -o-linear-gradient(#F0A467,#F0A467) !important;
    background-image: url(../images/logo-grey-xl.png);
    background-position: 0 50%;
    background-repeat: no-repeat;
    -webkit-background-size: 200px auto;
    background-size: 200px auto;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8cf89', endColorstr='#b8cf89', GradientType=0);
    position: relative;
    padding: 0px;
    border: 0;
}
#above-header:before {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0px;
    left: 0;
    border-top: 4px solid #F0A467;
    width: 100%;
}
#above-header:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: -3px;
    left: 0;
    border-top: 2px solid #F0A467;
    width: 100%;
}
#above-header .logo-container,
#above-header .logo-container >* {
    float: none;
    display: inline-block;
    vertical-align: middle;
}
.has-page-header.page-header-margin.header-style1 #page{
    margin-top: 0 !important;
}
header .mx-md-1{
    display: none !important;
}
#adaptable-page-header-wrapper{
    position: relative !important;
    /*overflow: hidden;*/
}
#adaptable-page-header-wrapper #pre-login-form{
    margin: 0 0 0 15px !important;
}
#adaptable-page-header-wrapper .dropdown-toggle:after{
    position: relative;
    top: 2px;
}
#adaptable-page-header-wrapper .fa{
    margin-right: 0 !important;
}
#adaptable-page-header-wrapper .navbar-nav > li:not(.dropdown), #adaptable-page-header-wrapper .navbar-nav > .ml-2, #adaptable-page-header-wrapper .navbar-nav > div{
    display: none;
}
#adaptable-page-header-wrapper #above-header .btco-hover-menu .collapse ul [id^='langmenu']{
    min-width: 0 !important;
}
#adaptable-page-header-wrapper .navbar #pre-login-form .btn-login{
    margin: 0;
    height: auto;
    font-size: 12px;
}
#above-header .container {
    padding: 20px;
}
#adaptable-page-header-wrapper .btco-hover-menu .collapse ul ul.dropdown-menu{
    right: 0;
    left: auto;
}
#above-header .logo-mapxo {
    padding: 0;
    width: 91px;
    height: auto;
    max-width: none;
    margin: 10px 20px 10px 0;
}
#above-header .title {
    font-family: Georgia, Roboto Slab,sans-serif!important;
    font-style: italic;
    font-size: 14px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.25);
}
#above-header .langmenu .langdesc {
    display: none;
}
#above-header .headermenu .usermendrop {
    font-size: 0;
}
#above-header .headermenu .usermendrop img {
    margin-top: -10px;
}
#above-header .headermenu .usermendrop .fa {
    font-size: 14px;
    line-height: 1.6;
    line-height: 1.6;
    display: inline-block;
    vertical-align: middle;
}
#adaptable-page-header-wrapper {
    background: #D4594F !important;
    box-shadow: 0 0px 20px rgba(0,0,0,0.125);
}
#page-header {
    min-height: 0;
    height: 5px;
    display: block !important;
    /*padding: 8px 16px;*/
    /*display: none;*/
}

#page-header [style="height: 20px"]{
    display: none;
}
#page-header #logocontainer {
    display: none;
}
#page-header #sitetitle {
    display: inline-block;
    padding: 8px;
    top: 0;
    height: auto;
    line-height: 1.2;
    font-size: 18px!important;
    font-weight: normal !important;
}
#page-header #sitetitle h1,
#page-header #sitetitle h2,
#page-header #sitetitle {
    display: inline-block;
    top: 0;
    font-size: 18px;
    line-height: 1.2;
    color: #fff!important;
    height: auto;
    left: auto;
    font-weight: normal !important;
}
#page-header .row > div{
    display: none;
}
.slidewrap{
    display: block !important;
}
@media screen and (max-width: 480px) {
    .slidewrap,
    .flashnews {
        display: none !important; } }
@media only screen and (max-width: 979px){
    #page-header{
        height: 20px;
    }
}
#navwrap {
    background: #f8f9f4;
    font-family: Georgia, Roboto Slab,sans-serif;
    font-style: italic;
    border: 0;
    box-shadow: 0 3px 3px rgba(0,0,0,0.1);
    /*margin-bottom: 10px;*/
}
#navwrap .dropdown-menu {
    border: 1px solid #ddd;
    padding: 10px;
}
#navwrap .dropdown-menu li {
    border-bottom: 1px dashed #ddd;
}
#navwrap .navbar .nav>li>a {
}
#navwrap .navbar .nav>li>a:hover{
    background: none!important;
    color: #D4594F!important;
}
#navwrap .dropdown-menu li:last-child {
    border-bottom: 0;
}
#navwrap .navbar a:hover {
    color: #F0A467!important;
}

/* FLASHNEWS ----------------------------------------------------------------------------------------------------------------------------------------------- */

#page .flashnews {
    background: #D4594F;
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 10px;
}
#page .flashnews * {
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
}

/* CONTENT ----------------------------------------------------------------------------------------------------------------------------------------------- */

#page-content .section li.modtype_assign {
    border-top: none;
}

#page-content .contentwithoutlink p {
    color: #333333;
}

#page-content .coursebox .content .courseimage {
    margin: 0;
}

#page-navbar {
    margin: 0;
    padding-bottom: 10px;
}

#page>.container {
    background: transparent url(../images/bg-content.jpg) bottom right no-repeat;
}
/* Fixing with for .container */
#page.fullin>.container {
    /*width: 1140px;*/
}
#page-content #region-main {
    background: none;
}

#page .block .content {
    background: rgba(0,0,0,0.0125);
}
#page .block .header {
    border-radius: 8px 8px 0 0;
}
#page .block.intro-video .no-overflow {
    overflow: visible;
}
#page iframe[src*="youtube"],
#page .courseimage img,
#page>.container .content img:not([class*="icon"]):not(.bald) {
    border: 10px solid #fff;
    box-shadow: 0 0 45px rgba(0,0,0,0.25);
}

#page .bald .content,
#page .bald {
    background: none;
    border: 0;
    box-shadow: none;
}


/* Breadcrumbs */
#page-content .breadcrumb li {
    font-family: Georgia, Roboto Slab,sans-serif!important;
    font-style: italic;
}
#page-content .breadcrumb li b,
#page-content .breadcrumb li strong {
    font-weight: 700;
}
#page-content .breadcrumb li:before {
    content: "/";
    color: #999;
    margin: 0 5px 0 0;
}
#page-content .breadcrumb .separator {
    display: none;
}
#page-content .breadcrumb li:first-child a {
    color: #00b552;
}
#page-content .breadcrumb li:first-child:before {
    content: none;
}
#page-content .breadcrumb li:last-child a {
    color: #999;
}
#page-content .breadcrumb li a {
    padding: 4px;
}


/* Sidebar ----------------------------------------------------------------------------------------------------------------------------------------------- */
#block-region-side-post .content  {
    padding: 0;
}
#block-region-side-post #inst57 .header {
    display: none;
}
#block-region-side-post .content .no-overflow {
    overflow: initial;
}
#block-region-side-post .content .no-overflow img {
    border: none !important;
    float: none !important;
    background-color: transparent;
    border-top-left-radius: 60px;
    margin-right: 0 !important;
    border-bottom-right-radius: 60px;
    margin: 25px 0;
    width: 250px;
}
#page-content aside {
    font-size: 14px;
    font-family: Georgia, Roboto Slab,sans-serif!important;
    font-style: italic;
}
#page-content aside .header:not(th) {
    background: #5eaa94;
}
#page-content aside .header:not(th) h2 {
    color: #eee;
    font-size: 14px;
    line-height: 1.6;
}
#page-content aside .content {
    background: rgba(255,255,255,0.25);
}
#page-content aside .block.course-title {
    background: none;
    border-radius: 0;
    border: 0 !important;
    margin-bottom: 0;
}
#page-content aside .block.course-title .header {
    background: none;
}
#page-content aside .block.course-title .content img {
    float: left;
    margin-right: 10px;
}
#page-content aside .block.course-title .content span {
    display: block;
    line-height: 1.5;
    font-size: 20px!important;
    font-weight: normal;
    color: #999;
    padding: 10px 0;
}
#page-content aside .block {
    border-radius: 10px!important;
    display: block;
    border: 1px solid #f0f0f0!important;
}
#page-content aside .block:nth-child(even) {
    background: #fafafa;
    border-color: transparent;
}
#page-content aside .block_orange .header {
    background: #EE995C;
}
#page-content aside .block_orange .header h5 {
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.25);
}
#page-content aside .block_orange .content {
    background: rgba(243, 183, 136, 0.35);
}
#page-content aside .block_navigation .header {
    background: #5eaa94;
}
/*#page-content aside .block_navigation .header h2 {*/
/*    color: #009688;*/
/*}*/
#page-content aside .block_navigation .content a {
    line-height: 1.2;
    margin: 10px 0;
    font-size: 14px;
}
#page-content aside .block_navigation .content li[aria-labelledby=label_4_16] {
    visibility: hidden;
    height: 0;
}
a.btn[data-toggle="popover"] {
    margin-top: -10px;
}
form.adminsearchform .form-group {
    margin-right: 10px;
}
.fitem .col-md-3 abbr+a.btn[data-toggle="popover"] {
    margin-top: -3px;
}
a.btn[data-toggle="popover"] {
    background: none !important;
    text-shadow: none;
    padding: 0 8px 0 0 !important;
    box-shadow: none;
    margin-left: 0;
}
.moodle-dialogue-base button.closebutton, .moodle-dialogue-base .chooserdialogue button.closebutton, .moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd .closebutton, .moodle-dialogue-base .chooserdialogue .moodle-dialogue-wrap .moodle-dialogue-hd .yui3-widget-buttons button.yui3-button.closebutton {
    padding: 0 !important;
}
.coursebox .content .coursecat, .coursebox .content .summary, .coursebox .content .courseimage, .coursebox .content .coursefile, .coursebox .content .teachers, .coursebox.remotecoursebox .remotecourseinfo, .coursebox .content .customfields-container {
    padding-left: 3px;
}
#page .content .summary h4> img:not([class*="icon"]):not(.bald) {
    border: none;
    margin-left: -20px;
    margin-right: 10px;
}
#page .buttons {
    margin-top: 15px;
}
#region-main #coursesearch .form-group {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}
.section .activity .actions-right .actions {
    top: 7px;
}
#reportuser_wrapper .form-inline .form-control {
    width: calc(100% - 170px);
}
#userselector_options_inner {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.message-app .btn.btn-link.btn-icon, .message-app #page-grade-grading-manage .actions .btn-link.btn-icon.action, .message-app #page-grade-grading-manage .actions .btn-icon.action.btn, .message-app #page-grade-grading-manage .actions #page-grade-grading-manage .actions .btn-icon.action, #page-grade-grading-manage .actions .message-app #page-grade-grading-manage .actions .btn-icon.action, .message-app #page-grade-grading-manage .actions #rubric-rubric.gradingform_rubric #rubric-criteria .criterion .addlevel input.btn-icon.action, #rubric-rubric.gradingform_rubric #rubric-criteria .criterion .addlevel .message-app #page-grade-grading-manage .actions input.btn-icon.action, .message-app #page-grade-grading-manage .actions #rubric-rubric.gradingform_rubric .btn-icon.action.addcriterion, #rubric-rubric.gradingform_rubric .message-app #page-grade-grading-manage .actions .btn-icon.action.addcriterion, #page-grade-grading-manage .actions .message-app .btn-link.btn-icon.action, .message-app #rubric-rubric.gradingform_rubric #rubric-criteria .criterion .addlevel input.btn-link.btn-icon, .message-app #rubric-rubric.gradingform_rubric #rubric-criteria .criterion .addlevel input.btn-icon.btn, .message-app #rubric-rubric.gradingform_rubric #rubric-criteria .criterion .addlevel #page-grade-grading-manage .actions input.btn-icon.action, #page-grade-grading-manage .actions .message-app #rubric-rubric.gradingform_rubric #rubric-criteria .criterion .addlevel input.btn-icon.action, .message-app #rubric-rubric.gradingform_rubric #rubric-criteria .criterion .addlevel #rubric-rubric.gradingform_rubric #rubric-criteria .criterion .addlevel input.btn-icon, #rubric-rubric.gradingform_rubric #rubric-criteria .criterion .addlevel .message-app #rubric-rubric.gradingform_rubric #rubric-criteria .criterion .addlevel input.btn-icon, .message-app #rubric-rubric.gradingform_rubric #rubric-criteria .criterion .addlevel #rubric-rubric.gradingform_rubric input.btn-icon.addcriterion, #rubric-rubric.gradingform_rubric .message-app #rubric-rubric.gradingform_rubric #rubric-criteria .criterion .addlevel input.btn-icon.addcriterion, #rubric-rubric.gradingform_rubric #rubric-criteria .criterion .addlevel .message-app input.btn-link.btn-icon, .message-app #rubric-rubric.gradingform_rubric .btn-link.btn-icon.addcriterion, .message-app #rubric-rubric.gradingform_rubric .btn-icon.addcriterion.btn, .message-app #rubric-rubric.gradingform_rubric #page-grade-grading-manage .actions .btn-icon.addcriterion.action, #page-grade-grading-manage .actions .message-app #rubric-rubric.gradingform_rubric .btn-icon.addcriterion.action, .message-app #rubric-rubric.gradingform_rubric #rubric-rubric.gradingform_rubric #rubric-criteria .criterion .addlevel input.btn-icon.addcriterion, #rubric-rubric.gradingform_rubric #rubric-criteria .criterion .addlevel .message-app #rubric-rubric.gradingform_rubric input.btn-icon.addcriterion, .message-app #rubric-rubric.gradingform_rubric #rubric-rubric.gradingform_rubric .btn-icon.addcriterion, #rubric-rubric.gradingform_rubric .message-app #rubric-rubric.gradingform_rubric .btn-icon.addcriterion, #rubric-rubric.gradingform_rubric .message-app .btn-link.btn-icon.addcriterion, .message-app .btn.btn-icon, .message-app #page-grade-grading-manage .actions .btn-icon.action, #page-grade-grading-manage .actions .message-app .btn-icon.action, .message-app #rubric-rubric.gradingform_rubric #rubric-criteria .criterion .addlevel input.btn-icon, #rubric-rubric.gradingform_rubric #rubric-criteria .criterion .addlevel .message-app input.btn-icon, .message-app #rubric-rubric.gradingform_rubric .btn-icon.addcriterion, #rubric-rubric.gradingform_rubric .message-app .btn-icon.addcriterion {
    padding: 0 !important;
}
#region-main {
    overflow-x: hidden;
}
.video-js .vjs-big-play-button {
    top: calc(50% - 0.82em);
    left: calc(50% - 1.5em);
}
p.tree_item {
    outline: none;
}
.form-inline .form-control {
    width: 100%;
}
.fitem {
    display: flex;
}
body input[name="cancel"], body #id_cancel, body .btn-cancel {
    background: none;
}
body input[name="cancel"]:hover, body #id_cancel, body .btn-cancel:hover {
    background: none;
}
body .btn#id_cancel[name=cancel] {
    border-radius: 10px;
    border: none !important;
}
.fitem .col-md-3 .text-danger{
    margin-top: 0 !important;
}
.fitem .col-md-3{
    display: flex;
    align-items: center;
}
.fitem .col-md-3 .float-sm-right{
    flex-direction: column;
    display: flex;
    align-items: flex-start;
}
#page-content aside .block_navigation .content a:hover {
    color: #63bce8!important;
}
#page-content aside .block_navigation .content ul li a img {
    margin: 0 5px 0 0;
}
#page-content aside .block.course-title .content span {
    font-size: 16px !important;
    line-height: 1.4;
    padding: 0;
}

#region-main:empty {
    display: none;
}

#page #page-navbar+#frontblockregion {
    display: none;
}
#page #frontblockregion .span12:empty {
    display: none;
}
/*#page #frontblockregion .row:first-of-type {
    background: #fafafa;
    padding: 30px 30px 0;
    border-radius: 20px;
}*/
#page #frontblockregion .row:first-of-type .course-custom {
    margin: 0;
}
#page #frontblockregion .row:first-of-type .course-custom .content {
    padding: 0;
}
#page #frontblockregion .row:first-of-type p.caption {
    display: none;
    font-family: Georgia, Roboto Slab,sans-serif!important;
    font-style: italic;
}
#page #frontblockregion .row:first-of-type p {
    /*margin: 0;*/
}
#page #frontblockregion .row:first-of-type .course-custom .no-overflow {
    padding: 0;
    overflow: visible;
}
#page #frontblockregion .course-custom .course-img {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}
#page #frontblockregion .block>.content {
    background: none;
}

#page .fitem.fitem_actionbuttons {
    background: rgba(0,0,20,0.05);
    text-align: right;
}
#page .fitem.fitem_actionbuttons #id_submitbutton {
    float: right;
    margin-left: 10px;
}
#page #frontblockregion .mainpage-photos .content {
    text-align: center;
}

/* Main ----------------------------------------------------------------------------------------------------------------------------------------------- */

#region-main #coursesearch {
    text-align: right;
    margin: 0px 0 10px;
}
#region-main #coursesearch .form-group {
    padding: 8px 16px;
    border-radius: 10px;
    background: #fafafa;
    border: 1px solid #f0f0f0;
}
#region-main #coursesearch >* {
    display: inline-block;
    vertical-align: middle;
}
#region-main #coursesearch input {
    margin: 0;
    height: 32px;
    line-height: 32px;
    display: inline-block;
    vertical-align: middle;
    padding: 0 15px;
}
#region-main #coursesearch .btn {
    margin-left: 10px;
}

#region-main .course-content .topics {
    border-radius: 10px;
    overflow: hidden;
}
#region-main .course-content > .topics .section.main:not(.section-summary):not([role=region]) {
    /*background: #5eaa94;*/
    margin-bottom: 0;
    padding: 0;
}
#region-main .course-content > .topics .section.main:not(.section-summary) b {
    color: #fff;
}
#region-main .course-content > .topics .section .sectionname {
    background: rgba(190, 210, 140, 0.9)!important;
}
#region-main .course-content > .topics .section.main b,
#region-main .course-content > .topics .section.main h3,
#region-main .course-content > .topics .section.main h4 {
    font-weight: normal!important;
}
#region-main .course-content > .topics .section {
    padding: 15px 20px;
}
#region-main .course-content > .topics .section .section-title:after {
    font-family: FontAwesome;
    float: left;
    font-style: normal;
    margin-right: 10px;
    /*width: 30px;*/
    /*height: 30px;*/
    /*line-height: 30px;*/
    /*text-align: center;*/
    /*background: rgba(235, 115,244,0.05);*/
    /*border-radius: 50%;*/
}
#region-main .course-content > .topics .section#section-1 .section-title:after {
    content: "\f02e";
    color: #f14e4e;
}
#region-main .course-content > .topics .section#section-2 .section-title:after {
    content: "\f02e";
    color: #a1e14b;
}
#region-main .course-content > .topics .section#section-3 .section-title:after {
    content: "\f02e";
    color: #ed76f6;
}
#region-main .course-content > .topics .section#section-4 .section-title:after {
    content: "\f02e";
    color: #68caea;
}
#region-main .course-content > .topics .section {
    padding: 0 10px;
}
#region-main .course-content > .topics .section .section-title {
    font-size: 20px;
    margin: 2px 0;
}
#region-main .course-content > .topics .section .section-title {
    margin: 2px 0;
}
#region-main .course-content > .topics .section.main li.modtype_forum {
    border-color: #f9af72;
    background: #dbe2ca;
}
#region-main .course-content > .topics .section.main li.modtype_forum a {
    color: #5db14e;
}
/* Section summary */
#region-main .course-content > .topics .section.section-summary {
    background: none;
}
#region-main .course-content > .topics .section.section-summary:nth-child(even) {
    background: rgba(0,0,0,0.05);
}
#region-main .course-content > .topics .section.section-summary:nth-child(odd) {
    background: rgba(0,0,0,0.01);
}
#region-main .course-content > .topics .section .section-summary-activities:not(:last-of-type) {
    float: left;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #ddd;
}
#region-main .course-content .section .activity .activityinstance {
    padding-right: 16%;
}
.dropdown-menu#action-menu-3-menu {

}
.header+.content {
    padding-top: 10px !important;
}
#region-main .course-content .section .activity .actions .btn {
    background: none;
}
#region-main .course-content .topics .section .content .summary {
    margin: 0;
}
#region-main .content .summary li{
    line-height: 20px;
}
#region-main .content .summary h4 {
    font-size: 17.5px;
    line-height: 20px;
    position: relative;
    padding-left: 20px;
}
#region-main .content .summary h4:before {
    position: absolute;
    left: 3px;
    top: 1px;
    font-family: FontAwesome;
}

#page-course-view-topics .sectionname {
    padding-left: 40px;
    position: relative;
}

html.yui3-js-enabled body #settingsnav ul li a,
html.yui3-js-enabled body .block_tree .tree_item.branch,
.block_navigation .content li a{
    color: #333 !important;
}

body:not(#page-course-view-topics) #region-main .content .summary h4:nth-of-type(1):before {
    content: "\f02e";
    color: #f14e4e;
}
#region-main .content .summary h4:nth-of-type(2):before {
content: "\f02e";
color: #a1e14b;
}
#page-course-view-topics .navigationtitle>.sectionname {
    position: relative;
    padding-left: 26px !important;
}
#page-course-view-topics .navigationtitle>.sectionname:before {
    font-size: 20px;
    font-family: "FontAwesome";
    position: absolute;
    top: 6px;
    left: 0;
}

#region-main .content .summary h4:nth-of-type(3):before {
    content: "\f02e";
    color: #ed76f6;
}
#region-main .content .summary h4:nth-of-type(4):before {
    content: "\f02e";
    color: #68caea;
}
#region-main .course-content .single-section .topics .section.main .content .summary {
    margin: 0;
    background: rgba(0,0,30,0.05);
    padding: 20px 30px;
    box-shadow: inset 0px -2px 3px rgba(0,0,0,0.1);
}
#region-main .course-content .single-section .section_footer {
    margin: 0;
    padding: 20px 20px 20px;
    background: #e6eed3;
    border-radius: 10px;
    border: 0;
}
#region-main .course-content .topics .section .content ul.section > li {
    margin: 15px 0;
    padding: 15px;
    border-radius: 10px;
    background: rgba(0,0,30,0.05);
}
#region-main .course-content .topics .section .content ul.section > li:nth-child(odd):hover,
#region-main .course-content .topics .section .content ul.section > li:nth-child(even):hover {
    background: rgba(255,255,255,0.7);
    box-shadow: 0 0 8px rgba(0,0,0,0.05);
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}
#region-main .course-content .topics .section .content ul.section > li:nth-child(even) {
    background: rgba(0,0,30,0.025);
}

#region-main .course-content .section-navigation .sectionname {
    padding: 0;
    background: none!important;
    font-size: 30px;
}

#region-main .course-content .single-section .section_footer {
    background: #f19b61;
}

#region-main .courses .coursebox {
    padding: 15px 20px;
    background: rgba(220, 220, 220, 0.2)!important;
}
#region-main .courses .coursebox:nth-child(even) {
    background: rgba(220, 220, 220, 0.5)!important;
}
#region-main.coursebox .coursename {
    font-size: 2em;
    line-height: 1.2;
}
#region-main.coursebox .summary {
    margin: 10px 5px;
}
#region-main .coursebox .courseimage img {
    border-radius: 10px;
    border: 1px solid #ddd;
    max-height: 100%;
    max-width: auto;
}
#region-main #notice {
    border-color: #fabd8a;
    font-family: Georgia, Roboto Slab,sans-serif!important;
    font-style: italic;
}


/* FOOTER ----------------------------------------------------------------------------------------------------------------------------------------------- */

#page-footer {
    background: #813D3E url(../images/logo-grey-xl.png) 0% 50% no-repeat;
    font-family: Georgia, Roboto Slab,sans-serif!important;
    /* font-style: italic; */
    text-align: right;
    padding: 30px 40px;
    margin-top: 0;
    position: relative;
    margin-bottom: 0 !important;
}
#page-footer:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0;
    border-top: 4px solid #813D3E;
    width: 100%;
}
#page-footer:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -3px;
    left: 0;
    border-top: 2px solid #813D3E;
    width: 100%;
}

#page-footer p {
    background: none;
    color: rgba(255,255,255,0.25)!important;
    text-align: right;
}

#page-footer .left-col p:first-child {
    display: inline-block;
    width: 45%;
    margin-bottom: 0 !important;
    color: white !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 176%;
}

#page-footer img{
    width: 60px !important;
    height: 71px !important;
    margin-left: 30px !important;
}

#page-footer .left-col {
    align-items: center;
    display: flex;
    justify-content: end;
}

#page-footer .left-col p:last-child {
    display: inline-block;
    margin-bottom: 0 !important;
}

/* #inst101{
    display: none;
} */

.level-course .no-overflow{
    overflow: hidden !important;
}

.level-course{
    width: 50%;
}

.level-course .level{
    color: #FF8F50;
    margin: 10px 0;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
}


.level-course .title-wrap h4{
    color: #04030F;
    font-size: 18px;
    font-weight: 600 !important;
    margin-bottom: 15px;
    height: 45px;
    overflow: hidden;
    max-width: 360px;

    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.my-1.col-md-12 #block-region-frnt-market-e{
    display: flex;
    margin-top: 44px;
}


@media screen and (max-width: 1106px) {
    #page-footer .container .left-col p {
        width: 100%;
        text-align: center;
    }
}


*.multilang{
    display: none;
}
html[lang="ru"] *.multilang[lang="ru"]{
    display: block;
}
html[lang="en"] *.multilang[lang="en"]{
    display: block;
}
html[lang="uk"] *.multilang[lang="uk"]{
    display: block;
}

html[lang="lt"] *.multilang[lang="lt"]{
    display: block;
}



.navbar-lang{
    background: transparent !important;
}
.dropdown.langmenu > a{
    display: none;
}
.dropdown.langmenu ul{
    box-shadow: none;
    background: none;
    border: none;
    display: block !important;
    overflow: visible !important;
    position: static;
    opacity: 1 !important;
    padding: 0;
    border-radius: 0;
    text-align: right;
    visibility: visible !important;
    margin: 0 !important;
}
.dropdown.langmenu ul li a:before{
    padding: 5px 10px;
    display: block;
    line-height: 22px;
}
.dropdown.langmenu ul li:nth-child(1) a:before{
    content: 'Рус';
}
.dropdown.langmenu ul li:nth-child(2) a:before{
    content: 'Укр';
}
.dropdown.langmenu ul li:nth-child(3) a:before{
    content: 'Eng';
}
.dropdown.langmenu ul li{
    display: inline-block;
}
.dropdown.langmenu ul li a{
    width: 42px;
    overflow: hidden;
    padding: 0;
    height: 30px;
    display: block;

    color: #26286B!important;
}
.dropdown.langmenu li a:hover {
    background-color: #EEE;
    color: #333;
}


.dropdown a[id^='langmenu']{
    display: none;
}
.dropdown a[id^='langmenu'] + ul{
    box-shadow: none;
    background: none;
    border: none;
    display: block !important;
    overflow: visible !important;
    position: static !important;
    opacity: 1 !important;
    padding: 0;
    border-radius: 0;
    text-align: right;
    visibility: visible !important;
    margin: 0 !important;
}
.dropdown a[id^='langmenu'] +  ul li a:before{
    display: block;
    line-height: 22px;
}


.dropdown a[id^='langmenu'] +  ul li:nth-child(1) a:before{
    content: 'Рус';
}
.dropdown a[id^='langmenu'] +  ul li:nth-child(2) a:before{
    content: 'Укр';
}
.dropdown a[id^='langmenu'] +  ul li:nth-child(3) a:before{
    content: 'Liet';
}

.dropdown a[id^='langmenu'] +  ul li{
    display: inline-block;
}
.dropdown a[id^='langmenu'] +  ul li a{
    width: 42px;
    overflow: hidden;
    padding: 0;
    height: 30px;
    display: block;

    color: #26286B!important;
}
.dropdown a[id^='langmenu'] +  ul li a:hover {
    background-color: #EEE;
    color: #333;
}
#page{
    background: #ffffff;
}

/* END ================================================================================= */
/* ===================================================================================== */
/* ===================================================================================== */

footer#page-footer{
    display: block !important;
}

#region-main.span9{
    width: 75%;
    padding: 0 15px;
    float: left;
}

#block-region-side-post.span3{
    width: 25%;
    float: left;
    padding: 0 15px;
    min-width: 0 !important;
    right: 0 !important;
    position: static !important;
}

#block-region-side-post.span3 .content{
    margin: 0;
}

#block-region-side-post.span3 .block{
    margin-bottom: 20px;
}

#page-header{
    min-height: 0 !important;
}

#page-header > div{
    display: none;
}

#navwrap{
    margin-top: -5px;
}


#navwrap .collapse:not(.show){
    display: block !important;
}

#navwrap .navbar{
    padding: 0;
}

.navbar .nav>li>a {
    color: #595959!important;
    line-height: 40px;
    float: none;
    padding: 0 20px 0 20px;
    text-decoration: none;
    text-shadow: none;
    font-weight: 400;
    font-size: 14px;
    text-transform: none;
    border-right: 0;
    background-color: transparent!important;
}

#page>.container .content{
    background: none !important;
}

#page-login-index #page-footer{
    background: #813D3E url(../images/logo-grey-xl.png) 0% 50% no-repeat;
}

#page-login-index .fullin.standard .container > .row{
    margin: 0;
}

html{
    background: #813D3E !important;
}

body{
    height: auto;
}

#page-login-index .btn-link{
    padding: 5px !important;
    background: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
}

#page-login-index .btn-link i{
    margin: 0;
}

#page-login-index #page-navbar, #page-login-index .card{
    background: transparent !important;
    border: none !important;
}

#adaptable-page-header-wrapper .btco-hover-menu .collapse ul ul.dropdown-menu ul {
    min-width: 220px;
}

#adaptable-page-header-wrapper .btco-hover-menu .collapse ul ul.dropdown-menu ul .dropdown-item {
    white-space: normal;
 
}

#page iframe[src*="youtube"], 
#page .courseimage img, 
#page>.container .content img:not([class*="icon"]):not(.bald) {
    border: none;
    box-shadow: none;
    width: 100%;
    border-radius: 10px;
}

#inst51,
#inst49{
    margin-top: 105px;
}

#inst49 .span8 br{
    display: none;
}

#inst49 .span8 h4{
    margin: 0 !important;
    font-family: unset !important;
    font-size: 20px !important;
    font-style: normal !important;
    text-align: left !important;
    margin: 0 !important;
    color: #04030F;
}

#inst49 p strong{
    font-weight: normal !important;
    font-size: 16px;
    color: #04030F;
}

#inst49 p strong i{
    font-style: normal !important;
}


#inst49  p{
    font-weight: normal !important;
    font-size: 16px;
    color: #04030F;
    margin-bottom: 2rem !important;

}

#inst53 .no-overflow p{
    display: flex;
    justify-content: space-between;
}

#inst53 .no-overflow p img{
    margin: 0 !important;
    width: 266px !important;
    height: 155px !important;
    box-shadow: none !important;
}

#inst53{
    margin-bottom: 0 !important;
}

#inst51 .content{
    padding: 0 !important;
    margin-left: 0 !important;
}

#inst51 .content{
    text-align: left !important;
}

#inst100 .btn{
    color: #04030F !important;
    font-weight: 600 !important;
    font-size: 16px;
    background: #F0A467;
    height: 48px;
    width: 251px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    text-shadow: none !important;
    font-family: 'Roboto' !important;
    margin: 0 auto;
}

/* #page #page-content{
    display: none;
} */

.level-course .left-col .btn,
.level-course .right-col .btn,
#inst51 .button{
    margin-left: 0 !important;
    margin-right: auto !important;
    color: #04030F !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    background: #F0A467 !important;
    height: 48px !important;
    width: 164px !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    text-shadow: none !important;
    font-family: 'Roboto' !important;
}

#inst51 .content h3{
   text-shadow: none !important;
   text-transform: none !important;
   color: #04030F !important;
   padding: 0 !important;
   font-weight: 600 !important;
   text-align: left !important;
   font-size: 18px !important;
   margin-bottom: 20px !important;
}

#adaptable-page-header-wrapper .navbar #pre-login-form .btn-login{
    background: #fff;
    color: #04030F !important;
    font-weight: 700 !important;
    font-size: 16px;
    font-weight: 90px;
    height: 48px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 black;
    font-family: unset !important;
}

#adaptable-page-header-wrapper #above-header .btco-hover-menu .collapse ul ul.dropdown-menu{
    height: 30px;
    margin-right: 26px;
}

body #adaptable-page-header-wrapper #above-header li ul li a:hover {
    background-color: transparent !important;
}

#adaptable-page-header-wrapper #above-header li ul li a{
    color: #fff !important;
    text-transform: uppercase;
}

header .dropdown a[id^='langmenu'] + ul li a {
    width: 55px;
}

#main-slider .flex-caption {
    left: auto;
}

#main-slider .flex-caption .right-block p{
    text-align: right !important;
    font-size: 16px !important;
    color: #fff !important;
}

#main-slider .flex-caption .right-block p span{
    color: #fff !important;
}

#main-slider .flex-caption .right-block  .btns-wrap{
    display: flex;
    justify-content: end;
    margin-top: 28px;
}

#main-slider .flex-caption .right-block  .btns-wrap p{
    margin-bottom: 0;
}

#main-slider .flex-caption .right-block  .btns-wrap p .btn{
    background: #F0A467;
    box-shadow: none;
    color: #04030F !important;
    text-shadow: 0px 0px 0px rgba(0,0,0,0.4);
    height: 48px;
    font-weight: 600;
    font-size: 16px;
    width: 164px;
    display: flex;
    align-items: center;
    font-family: unset !important;
    justify-content: center;
    border-radius: 10px;
    margin-right: 8px;
}

#page>.container {
    background: none !important;
}

#main-slider .flex-caption .right-block  .btns-wrap p .btn-promo{
    height: 48px;
    font-weight: 600;
    font-size: 16px;
    width: 164px;
    color: #F0A467;
      display: flex;
    align-items: center;
    font-family: unset !important;
    justify-content: center;
    background: #fff;
    border-radius: 10px;
}

#main-slider .flex-caption .right-block p span strong{
    font-weight: 400 !important;
}

#main-slider .flex-caption .right-block p:first-child{
    font-size: 35px !important;
}

#main-slider .flex-caption .left-block{
    display: none !important;
}

#main-slider p:last-child a>img{
    display: none;
}

#main-slider li{
    position: relative;
}

#main-slider li .flex-caption {
    z-index: 1;
}

#main-slider li::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .48);
}




@media (max-width: 979px){
    #region-main, .pagelayout-mydashboard #region-main {
        padding: 0 15px;
    }
}

@media (max-width: 991px){

    #region-main.span9{
        width: 65%;
    }

    #block-region-side-post.span3{
        width: 35%;
    }

}


@media (max-width: 1025px){
    #inst53 .no-overflow p {
        gap: 20px;
        justify-content: center;
        flex-wrap: wrap;
    }

    #page-footer .container .left-col p{
        text-align: left;
    }
}

@media (max-width: 767px){

    .block-region-front .span4{
        float: none;
        width: 100%;
    }

    #region-main.span9, #block-region-side-post.span3{
        width: 100%;
        float: none;
        padding: 0;
    }

    .breadcrumb{
        padding: 5px 0 !important;
    }



    #page-footer .left-col {
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #page-footer .left-col p:first-child{
        margin-bottom: 30px !important;
    }

    #page-footer img{
        margin-left: 0 !important;
    }

    body .course-custom.block .course-btn{
        margin-bottom: 40px;
    }  

    #page #frontblockregion{
        margin-top: 80px !important;
    }

    .course-custom .course-img{
        height: 190px !important;
    }

    #inst51, #inst49 {
        margin-top: 0px;
    }

    #inst53 .no-overflow p {
        flex-wrap: wrap;
        justify-content: center;

    }

    #inst53 .no-overflow p img{
        margin: 0 !important;
        margin-bottom: 30px !important;
    }

    #inst51{
        margin-bottom: 90px !important;
    }
}


/////нові стилі
.course-custom .course-img {
    box-shadow: none;
}


.section-top{
    position: relative;
    height: 600px;
    background: url(../img/section-top1.png);
    background-size:  cover;

}

.section-top-two{
    background: url(../img/section-top2.png);
    background-size:  cover;
    margin-bottom: 85px;
}

.section-top::after{
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0 ,0, .48);
    z-index: 0;
}

.section-top .container{
    position: relative;
    height: 100%;
    // margin: 0 15px;
}

.section-top .container .right-block{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: right;
    z-index: 1;

}

.section-top .container .right-block p:first-child{
    color: white;
    font-size: 35px;
    font-weight: 600;
    max-width: 540px;
    margin: 0;
}

.section-top .container .right-block p{
    color: white;
    font-size: 14px;
    font-weight: 400;
    margin: 25px 0;
    max-width: 500px;
    line-height: 160%;
    text-align: right;
    margin-left: auto;

}

.section-text  button,
.course-project button,
.section-top .right-block .btns-wrap .btn-promo,
.section-top .right-block .btns-wrap .btn{
    background: #F0A467;
    box-shadow: none;
    color: #04030F !important;
    text-shadow: 0px 0px 0px rgba(0,0,0,0.4);
    height: 48px;
    font-weight: 600;
    font-size: 16px;
    width: 164px;
    display: flex;
    align-items: center;
    font-family: unset !important;
    justify-content: center;
    border-radius: 10px;
}

.section-top .right-block .btns-wrap .btn{
    margin-right: 10px;
}

.section-top .right-block .btns-wrap{
    display: flex;
    justify-content: flex-end;

}

.section-top .right-block .btns-wrap .btn-promo{
    background: white !important;
    color: #F0A467 !important;
}


.course-project{
    padding: 47px 0;
    background: #F5F5F5;
    border-radius: 10px;
    margin-bottom: 80px;
}

.course-project h4{
    text-align: center;
    color: #04030F;
    font-weight: 600;
    font-size: 20px;
}

.course-project p{
    text-align: center;
    padding: 17px 0 27px;
    max-width: 435px;
    margin: 0 auto;
    color: #04030F;
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;

}


.course-project button{
    width: auto;
    margin: 0 auto;
    padding: 8px 25px !important;
}

.section-text  button{
    padding: 8px 25px !important;
    width: auto;
}

.section-text{
    display: flex;
    justify-content: space-between;
    padding-bottom: 85px;
}

.section-text .left-col{
    max-width: 740px;
    margin-right: 20px;
}

.lectors-wrap h4,
.section-text h3,
.section-text h4{
    color: #04030F;
    font-weight: 600 !important;
    font-size: 20px;
}



.section-text h4{
    font-size: 20px;
    margin-bottom: 20px;
}

.section-text h3{
    font-size: 18px;
    margin: 25px 0;
}

.section-text p{
    color: #04030F;
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 34px;
}

.section-text .right-col{
  width: 100%;
  max-width: 355px;
}

.section-text .img-wrap{
    width: 100%;
    height: 206px;
    border-radius: 10px;
    overflow: hidden;
}

.lesson-subjects .lesson-wrap .lesson-item .img-wrap img,
.lectors-wrap .img-wrap img,
.section-text .right-col img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lectors-wrap{
    padding-bottom: 45px;
}
.lectors-wrap .img-wrap{
    border-radius: 10px;
    height: 275px;
    overflow: hidden;
}

.lectors-wrap .images-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.lectors-wrap .images-wrapper .lector-item{
    width: 100%;
    max-width: 240px;
}

.lectors-wrap h4{
    margin-bottom: 45px;
}
.lectors-wrap h3{
    font-size: 18px;
    margin: 25px 0 40px;
    color: #04030F;
    font-weight: 600 !important;
    font-size: 20px;
}

.lesson-subjects{
    padding-bottom: 70px;
}

.lesson-subjects .lesson-wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.lesson-subjects .lesson-wrap .lesson-item{
    width: 32%;   
    margin-bottom: 30px;
}

.lesson-subjects .lesson-wrap .lesson-item .img-wrap{
    height: 206px;
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 12px;
}

.lesson-subjects .lesson-wrap .lesson-item button{
    color: #04030F !important;
    background: #F0A467;
    border-radius: 10px;
    padding: 0 20px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none !important;
    text-shadow: none !important;
    font-weight: 600 !important;
}

.lesson-subjects .lesson-wrap .lesson-item button span{
    margin: 0 8px;
    font-weight: 600 !important;
    font-size: 16px;
}



// це не треба копыювати 
.container{
    margin: 0 auto;
    max-width: 100%;
    width: 1170px;
}

header .navbar-nav{
    justify-content: end;
    display: flex;
}

header .nav-item{
    display: none
}

.sessions .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.sessions .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.multilang[lang="uk"]{
    display: block;
}

.sessions{
    padding: 90px 0 40px;
    
}

// це не треба копыювати 

@media (max-width: 1025px){

    .section-top .container .right-block{
        margin-right: 30px;
    }

    .section-text .left-col{
        max-width: 520px;
        margin-right: 20px;
    }

    .lesson-subjects .lesson-wrap .lesson-item{
        width: 48%;   
    }

    .lectors-wrap{
        padding-bottom: 45px;
        // padding: 0 15px;
    }
    .section-text{
        // padding: 0 15px;
        padding-bottom: 25px;
    }

    .sessions .row{
        margin: 0 !important;
    }

    .container{
        padding: 0 15px;
    }
}

@media (max-width: 822px){
    .section-text .left-col{
        max-width: 420px;
        margin-right: 20px;
    }
    .section-text p{
        margin-bottom: 20px;
    }
    .lectors-wrap h4{
        margin-bottom: 35px;
    }

    .lesson-subjects .lesson-wrap .lesson-item{
        width:100%;   
    }
    
}

@media (max-width: 767px){


    .section-text .right-col,
    .section-text .left-col{
        margin-bottom: 30px;
    }

    .lectors-wrap h4{
        margin-bottom: 25px;
    }
    .section-top{
        height: 300px;
    }

    .lectors-wrap .images-wrapper .lector-item{
        width: 100%;
        max-width: 100%;
    }

    .section-top .container .right-block p:first-child{
        font-size: 20px;
    }

    .section-top .container .right-block p{
        margin: 15px 0;
    }
    


    .sessions .col-md-3{
        max-width: 100%;
        flex: 0 0 100%;
    }
    

    .section-text .left-col{
        max-width: 100%;
        margin-right: 0;
    }

    .section-text{
        flex-direction: column;
    }
}

//<================================================================= ХЕДЕР ==============================================================>\\



//<================================================================= ФУТЕР ==============================================================>\\

